#hed{
    width: 100%;
    height: 150px;
    background-color: dimgrey;
    margin: 0px;
    padding: 0px;
}
h1{
    padding-left:15px;
    padding-top : 15px;
}
h3{
    padding-top : 15px;
}
body{
    margin: 0px;
}
.fotr{
    width: 65%;
    height: 50px;
    background-color: black;
    color: white;
    padding-left: 35%;
    padding-top: 20px;
}
#text{
    background-color: rgb(202, 202, 202);
}
#photo1{
    margin-left: 15%;
}